<footer>
    <div class="block">
        <nav class="navbar">
            <div class="navbar-start">
                <a href="" class="navbar-item">
                    <h1 class="title is-4">EDA-Piwakawaka2020</h1>
                </a>
            </div>
            <div class="navbar-center">
                <a href="" class="nav-item">
                    <span class="icon">
                        <i class="fa fa-github"></i>
                    </span>
                </a>
            </div>
        </nav>
    </div>
</footer>
{{!-- <p><strong>EDA-Piwakawaka2020: @pmtevgonzales</strong></p> --}}