<h1> COVID-19 Notifier </h1>

<h2> GLOBAL CASES </h2>

<div>
    <ul>
        <li>Confirmed Case: {{confirmedCases}}</li>
        <li>Recovered: {{recovered}}</li>
        <li>Deaths: {{deaths}}</li>
    </ul>
</div>
